/* Google font family import link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
/* common style start*/

/* common style end */

/* header style  start*/
header {
  background-color: #562eff;
}
nav {
  padding-top: 25px;
}
nav > section > .button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button span {
  text-decoration: none;
  color: #fff;
}
.button a {
  text-decoration: none;
  color: #fff;
  padding-left: 18px;
  font-size: 14px;
  align-items: center;
}
.copa-america {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 40px;
}
.conmebol h1 {
  margin-bottom: 0;
  display: inline;
}
.conmebol {
  padding-left: 33%;
  font-size: 40px;
  padding-top: 5%;
  color: #fff;
}
.conmebol a,
.login {
  font-size: 16px;

  color: #fff;
  background-color: rgb(211, 9, 93);
  padding: 10px 10px 5px 5px;
  text-decoration: none;
}
.copa-america > div {
  width: 50%;
}
.head-player-img img {
  width: 100%;
}
/* header style end */
/* main style start */
.players {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  grid-column-gap: 5px;
  grid-row-gap: 20px;
  align-items: center;
  width: 80%;
  margin-left: 17%;
  margin-right: 12%;
  margin-top: 50px;
}
.player {
  height: 177px;
  width: 230px;
}
.player-div {
  box-shadow: 20px -1px 100px;
  border-radius: 5px;
  width: 250px;
  padding: 15px 0px 15px 15px;
}
